body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}

hr {
  background-color: #a0a0a0;
}

.app {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #dadada, #fff);
  /* background-image: url("https://jooinn.com/images/abstract-background-284.jpg"); */
}

.app__sidebar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: solid 1px #aaa;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.app__sidebar--logo {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.app__sidebar--logo .icon {
  cursor: pointer;
  font-weight: bold;
}

.app__sidebar--body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* padding: 1rem; */
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

.sidebar__menu--list {
  /* border-bottom: solid 1px #e0e0e0; */
  /* padding: 0 0 1rem; */
  margin-bottom: 1rem;
}

.sidebar__menu--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  color: #666;
  padding: 0rem 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar__menu--list-header h6 {
  margin: 0;
}

.sidebar__menu--list-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.sidebar__menu--list-header.open {
}

.sidebar__menu--list-header.open > .sidebar__menu--list-icon {
  transform: rotate(180deg);
}

.sidebar__menu--list-body {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar__menu--list-link {
  color: #eee;
  text-transform: capitalize;
  /* letter-spacing: 2px; */
}

.sidebar__menu--list-link.active {
  /* font-weight: bold; */
  color: #fff;
}

@media screen and (width<576px) {
  .app__sidebar {
    height: max-content;
  }
}
